.loginbox {
  background-color: lightgray;
  width: 20%;
  height: 100px;
  margin-left: 30px;
  display: none;
}
.logseen {
  display: block;
}
.logintitle {
  text-align: center;
  text-decoration: underline;
}
.inbox {
}
.inputwrap {
  text-align: center;
}
